<section class="profile-options">
  <a href="/profile/edit" class="editpr">Edit</a>

  <div class="profile">
  <h1><%= trainer.username %></h1>
  <img src="<%= trainer.avatar %>" alt="Profile picture">
  <img src="<%= trainer.gender %>" alt="Gender Logo">
  <p><%= trainer.age %>,<%= trainer.location %></p>
  <p><%= trainer.description %></p>
  <img src="/images/telegram-logo.png" alt="Telegram Logo">
  <p><%= trainer.telegram %></p>
</div>
<% include ../partials/navbar.ejs %>
</section>

