<header>
  <h1>My trades</h1>
</header>
<section>
  <h2>My Pokemon</h2>
  <a href="/trades/add/myPokemon">Add</a>
  <ul>
    <% trainer.myPokemon.forEach( (pokemon, index) => { %>
      <div>
        <li><%= pokemon.name %></li>
        <form method="POST" action="/trades/<%= index %>/myPokemon/delete">
          <input type="submit" value ="delete">
        </form>
        <img src="<%= pokemon.image %>" alt="<%= pokemon.name %> image">
      </div>
    <% }) %>
  </ul>
</section>
<section>
<h2>Wish List</h2>
  <a href="/trades/add/wishList">Add</a>
  <ul>
    <% trainer.wishList.forEach( (pokemon, index) => { %>
    <div>
      <li><%= pokemon.name %></li>
      <form method="POST" action="/trades/<%= index %>/wishList/delete">
        <input type="submit" value ="delete">
      </form>
      <img src="<%= pokemon.image %>" alt="<%= pokemon.name %> image">
    </div>
    <% }) %>
  </ul>
</section>
<% include ../partials/navbar.ejs %>