<section>
  <h1>PokeSearch</h1>
  <p> Find out the trainers that have the Pokemon you are looking for!</p>
</section>
<section>
  <p> Which Pokemon are you interested in?</p>
  <form action="/search" method="GET">
    <input id="pokemon" type="text" name="pokemon">
    <input type="submit" value="Search">
  </form>
  <% include ../partials/notifications %>
</section>
<section>
  <% trainers.forEach( trainer => { %>
    <div>
      <img src="<%= trainer.avatar %>" alt="<%= trainer.name %>'s avatar">
      <a href="/profile/<%= trainer._id %>/<%= pokemonName %>"><%= trainer.username %></a>
      <%= trainer.telegram %>
    </div>
  <% }) %>
</section>
<% include ../partials/navbar.ejs %>
